<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
}

.box {
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    align-items: center;
*/
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.content1 {
  width: 310px;
  height: 450px;
  background: white;
  background-image: url(image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 9px 0px 0px 9px;
  /* hsl(30, 38%, 92%)*/
}

.content2 {
  width: 310px;
  height: 450px;
  background: white;
  /* padding-left: 49px; */
  /* padding-right: 20px; */
  border-radius: 0px 9px 9px 0px;
}

.content2 h1 {
  font-family: Fraunces;
  font-size: 36px;
  font-weight: 400;
  line-height: 1em;
  color: hsl(212, 21%, 14%);
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content2 p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: lighter;
  line-height: 1.7em;
  color: hsl(228, 12%, 48%);
  padding-right: 30px;
  padding-left: 30px;
}

.content2 h2 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: lighter;
  color: hsl(228, 12%, 48%);
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.content2 h3 {
  font-size: 34px;
  font-family: Fraunces;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.content2 .dash {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px;
}

.cart {
  display: flex;
  background: hsl(158, 36%, 37%);
  padding-left: 62px;
  padding-right: 62px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-right: 30px;
  margin-left: 30px;
}

.cart img {
  color: black;
  width: 23px;
  height: 23px;
  margin-top: 17px;
}

.cart h4 {
  margin-left: 14px;
  font-size: 14px;
  color: white;
  font-weight: 700;
}
.cart:hover {
  background: hsl(212, 21%, 14%);
}
@media (max-width: 850px) {
  .content {
    /* display: grid;
    grid-template-rows: 1fr; */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
  }
  .content1 {
    width: 330px;
    height: 250px;
    font-size: 7px;
    border-radius: 9px 9px 0px 0px;
    position: relative;
    background-image: url(image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
  }
  .content2 {
    width: 330px;
    height: 350px;
    border-radius: 0px 0px 9px 9px;
    position: relative;
  }
  .content2 h2 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .content2 h1 {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .content2 h3 {
    margin-top: 12px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dash {
    font-size: 14px;
  }
  .content p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5em;
    font-size: 13.8px;
  }
  .cart {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 90px;
    padding-left: 90px;
    border-radius: 14px;
    border: none;
  }
  .cart img {
    margin-top: 13px;
    width: 20px;
    height: 20px;
  }
  .cart h4 {
    font-size: 12px;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
}

.box {
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    align-items: center;
*/
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
}

.content1 {
  width: 400px;
  height: 530px;
  background: white;
  background-image: url(image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  /* hsl(30, 38%, 92%)*/
}

.content2 {
  width: 330px;
  height: 530px;
  background: white;
  padding-left: 49px;
  padding-right: 20px;
  border-radius: 0px 9px 9px 0px;
}

.content2 h1 {
  font-family: Fraunces;
  font-size: 36px;
  font-weight: 400;
  color: hsl(212, 21%, 14%);
  padding-right: 26px;
}

.content2 p {
  font-size: 14px;
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  padding-right: 36px;
}

.content2 h2 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
  margin-top: 39px;
}

.content2 h3 {
  font-size: 37px;
  font-family: Fraunces;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.content2 .dash {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

button {
  display: flex;
  background: hsl(158, 36%, 37%);
  padding-left: 80px;
  padding-right: 80px;
  cursor: pointer;
  border-radius: 6px;
}

button img {
  color: black;
  width: 23px;
  height: 23px;
  margin-top: 17px;
}

button h4 {
  margin-left: 17px;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
button:hover {
  background: hsl(212, 21%, 14%);
}
@media (max-width: 750px) {
  .content {
    display: grid;
    grid-template-rows: 1fr;
  }
  .content1 {
    width: 430px;
    height: 260px;
    font-size: 7px;
    border-radius: 0px;
    position: relative;
    background-image: url(image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .content2 {
    width: 360px;
    height: 430px;
    border-radius: 0px;
    position: relative;
  }
  .content2 h2 {
    font-weight: 400;
    margin-top: 27px;
  }
  .content2 h1 {
    margin-bottom: 2px;
  }
  .content2 h3 {
    margin-top: 12px;
  }
  button {
    margin-bottom: 9px;
  }
}
>>>>>>> 003b3e03fbdd694fa92a1c13c268e43aef93b0f6
