@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
}

.box {
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    align-items: center;
*/
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
}

.content1 {
  width: 400px;
  height: 530px;
  background: white;
  background-image: url(image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  /* hsl(30, 38%, 92%)*/
}

.content2 {
  width: 330px;
  height: 530px;
  background: white;
  padding-left: 49px;
  padding-right: 20px;
  border-radius: 0px 9px 9px 0px;
}

.content2 h1 {
  font-family: Fraunces;
  font-size: 36px;
  font-weight: 400;
  color: hsl(212, 21%, 14%);
  padding-right: 26px;
}

.content2 p {
  font-size: 14px;
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  padding-right: 36px;
}

.content2 h2 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
  margin-top: 39px;
}

.content2 h3 {
  font-size: 37px;
  font-family: Fraunces;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.content2 .dash {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

button {
  display: flex;
  background: hsl(158, 36%, 37%);
  padding-left: 80px;
  padding-right: 80px;
  cursor: pointer;
  border-radius: 6px;
}

button img {
  color: black;
  width: 23px;
  height: 23px;
  margin-top: 17px;
}

button h4 {
  margin-left: 17px;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
button:hover {
  background: hsl(212, 21%, 14%);
}
@media (max-width: 750px) {
  .content {
    display: grid;
    grid-template-rows: 1fr;
  }
  .content1 {
    width: 360px;
    height: 260px;
    font-size: 7px;
    border-radius: 0px;
    position: relative;
    background-image: url(image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .content2 {
    width: 360px;
    height: 430px;
    border-radius: 0px;
    position: relative;
  }
  .content2 h2 {
    font-weight: 400;
    margin-top: 27px;
  }
  .content2 h1 {
    margin-bottom: 2px;
  }
  .content2 h3 {
    margin-top: 12px;
  }
  button {
    margin-bottom: 9px;
  }
}
